<h1>Welcome to Camp Encounters <%= @user.first_name %></h1>
  <p>
    You have successfully signed up to Camp Encounter
    your username is: <%= @user.email %>.<br>
  </p>
  <%= link_to "Accept Invitation", new_user_password_url %>
<p>Thanks for joining and have a great day!</p>