<% if user_signed_in? %>
  <%= link_to "Sign_Out", destroy_user_session_path, method: :delete %>
<% else %>
  <%= link_to "Sign_In", new_user_session_path %>
<% end %>
<br>
 <%= link_to "Edit User", edit_user_registration_path %>
 <h1>Welcome to Camp Encounters </h1>